.edit {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-align: center;

    &-field {
        width: 100%;
        margin: 1rem;
        padding: 1rem;


        &:focus {
            outline: none !important;
            border: #16161d;
            box-shadow: 0 0 10px;
        }
    }

    &-btn {
        margin-top: 2rem;
        background: none;
        color: #16161d;
        padding: 1rem 3rem;
        border: 2px solid #16161d;
        border-radius: 5px;
        transition: all 0.5s ease-out;

        &:hover {
            background-color: #16161d;
            color: #f8f8ff;
        }
    }
}
